<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibraryApp.PAL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LibraryApp.PAL.styles.css" asp-append-version="true" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />

</head>
<body style="background-color:#ffffff">
    <header>
        <nav style="background-color:#2596be;" class="navbar navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-3">
            <div class="container-fluid" style="background-color:#2596be;">
                <a class="navbar-brand" style="color:#ffff;" asp-area="" asp-controller="Home" asp-action="Index">The Library</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" style="color:#ffffff;" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " style="color:#ffffff;" asp-area="" asp-controller="Book" asp-action="Index">Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " style="color:#ffffff;" asp-area="" asp-controller="Borrower" asp-action="Index">Borrowers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " style="color:#ffffff;" asp-area="" asp-controller="Borrowing" asp-action="Index">Operation</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link " style="color:#ffffff;" asp-area="" asp-controller="User" asp-action="Index">Users</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated == true)
                        {
                            <li class="nav-item">
                                <i style="color:#ffffff;" class="bi bi-person-circle nav-link "> Welcome @User.Identity.Name</i>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " style="color:#ffffff;" asp-area="" asp-controller="account" asp-action="logout"><i class="bi bi-door-open-fill"></i>Log Out</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link " style="color:#ffffff;" asp-area="" asp-controller="account" asp-action="login">Log In</a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

@*    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - LibraryApp.PAL - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
*@    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
