@model LibraryApp.DAL.Models.Borrower

@{
    ViewData["Title"] = "Edit";
}



<h1 class="text-center" style="color: #2596be;">Edit Borrower</h1>

<hr />
<div class="row justify-content-center align-items-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group m-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <input type="submit" value="Add" class="btn" style="background-color:#2596be; color: #ffff;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn m-3" style="background-color:#2596be; color: #ffff;" asp-action="Index">Back to Book List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
